*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

header{
    display: flex;
    border-bottom: 1px solid rgb(247, 235, 237);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header-left{
    display: flex;
    align-items: center;
}

.address{
    padding: 17px 30px;
}

.address h3{
    font-weight: bold;
}

.address p{
    font-size: smaller;
}

.logo{
    border-right: 1px solid rgb(255, 242, 244);
    padding: 20px 30px;
}

.search{
    background-color: rgb(245, 243, 243);
    padding: 10px 10px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.search input{
    background: transparent;
    border-style: none;
    width: 100%;
}

.search input:focus{
    outline: none;
}

.Header-log{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    font-size: large;
    gap: 20px;
}

.cart{
    background-color: #f7cb45;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 6px;
}

.log{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

#banner{
   max-width: 2010px;
   display: flex;
   justify-content: left;
   flex-direction: column;
   padding-left: 5%;
   padding-right: 5%;
}

#img-box{
    max-width: 3000px;
    align-content: flex-start;
    padding-left: 20px;
}

#img-box img{
    width: auto;
    height: 100px;
}

#grid{
    width: 100%;
}

#grid img{
    height: 170px;
}

.box{
    height: 200px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.pict{
    height: 180px;
    width: 140px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}

.pict img{
    height: 105px;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.price a{
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}
.link{
    display: flex;
    gap: 80px;
    font-size: 13px;
    
}
.useful{
    display: flex;
    gap: 350px;
    padding-bottom: 20px;
    font-size: 20px;
}
footer {
  background-color: #f4f4f4;
  padding: 20px 0;
  text-align: center;
}

.footer-container {

  display: flex;
  align-items: center;
  justify-content: center;
}
.download-app{
    display: flex;
    align-items: center;
  justify-content: center;}

footer p {
  color: #333;
  font-size: 14px;
  margin: 10px 0;
}



.download-app img {
  width: 130px;
  height: auto;
}
.social-icons{
    display: flex;
}

.social-icon {
  display: inline-block;
  background-color: #333;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
}

.social-icon:hover {
  background-color: #555;
}

.disclaimer {
  font-size: 12px;
  color: #777;
  margin-top: 20px;
}

